{* пояснение к цене *}
{if (!empty($common_settings.gift_price)) && (!empty($common_settings.price_comment))}
    {eval var=$common_settings.price_comment assign="price_comment"}
{/if}

{* ширина изображения *}
{$settings.cart_product_image_width = $settings.cart_product_image_width|default:24|intval}

<div class="shop_addgifts shop_addgifts--{$current_theme} shop_addgifts--order-cart-item shop_addgifts--vid-{$vid} {if !empty($price_comment)} js-addgifts__tooltip{/if}"
     {if !empty($price_comment)} title="{$price_comment|escape}" data-toggle="tooltip" {/if}>
    <div class="addgifts__loader"></div>

    {foreach $rules as $rule}
        <div class="addgifts addgifts--cart-item js-addgifts__cart-item">

            {if (!empty($rule.stimul)) && (!empty($rule.need_buy)) }
                {$need_buy = $rule.need_buy}
                {$rule.text = $rule.stimul}
            {/if}

            {if !empty($rule.text)}
            <div class="addgifts__header">{eval var=$rule.text}</div>
            {/if}

            {$rand_id = rand(0,99999)}

            {foreach $rule.gifts as $gift_index => $gift}
            <div class="addgifts__gift addgifts__gift--cart-item js-addgifts__gift">

                {if !empty($settings.cart_product_image)}
                  {$img = $wa->shop->productImgUrl($gift.product, "`$settings.cart_product_image_width`x0")}
                {/if}

                {$img = $img|default:$settings.cart_gift_image|default:''}

                {if !empty($rule.multiple) && ($rule.multiple == 'one') && (count($rule.gifts) > 1)}

                <label for="addgifts__gift--select_gift--r{$rule.id}--g{$gift_index}--p{$gift.product.id}--{$rand_id}" class="addgifts__label">
                    <span class="s-radio">
                        <input type="radio" data-is_rendered="1"
                        name="addgifts__gift--select_gift--r{$rule.id}--{$rand_id}"
                        id="addgifts__gift--select_gift--r{$rule.id}--g{$gift_index}--p{$gift.product.id}--{$rand_id}"
                        class="js-addgifts__gift--select_gift"

                        {if $gift.selected== true} checked="checked" {/if}

                        data-vid="{$vid|default:0|escape}"
                        data-rule-id="{$rule.id}"

                        data-gift-index="{$gift_index}"
                        data-gift-product="{$gift.product.name|escape}"

                        value="{$gift_index}">
                        <span></span>
                    </span>
                </label>

                {/if}

                {if !empty($img)}
                    <div class="addgifts__image">
                        {if !empty($rule.multiple) && ($rule.multiple == 'one') && (count($rule.gifts) > 1)}
                            <label for="addgifts__gift--select_gift--r{$rule.id}--g{$gift_index}--p{$gift.product.id}--{$rand_id}" class="addgifts__label">
                        {/if}
                        <img src="{$img}" class="addgifts__img addgifts__img--cart" alt="{$gift.product.name|escape}">
                        {if !empty($rule.multiple) && ($rule.multiple=='one') && (count($rule.gifts)>1)}
                            </label>
                        {/if}
                    </div>
                {/if}


                <div>
                    {include file = $include__el_name}
                    {include file = $include__el_change_sku}
                </div>

            </div>
            {/foreach}

            {if !empty($rule.hint)}
                <div class="addgifts__hint">{eval var=$rule.hint}</div>
            {/if}

        </div>
    {/foreach}
</div>